<!DOCTYPE html>
<html>
<head>
    <title>File Upload Form</title>
    <meta charset="UTF-8">
    <meta name="description" content="Audio visualizer.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audio File Visualizer</title>

    <script type="module" src="index.js" defer></script>
    <link rel="stylesheet" href="style.css" type="text/css">

    <!-- Include Bootstrap and FontAwesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Include Bootstrap JavaScript and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- File Upload Section -->
            <div class="col-md-6">
                <h2 class="accent-color">Upload a File</h2>
                <form action="upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file" class="accent-color">Select a file:</label>
                        <input type="file" class="form-control" name="file" id="file" accept=".mp3, .wav" required>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-success" value="Upload" id="upload">
                    <button type="button" class="btn btn-primary" value="Play" id="play">Play Audio</button>
                    <br>
                    <div class="audio-controls mt-3">
                        <button class="btn btn-primary" id="backwardButton">Backward</button>
                        <button class="btn btn-primary" id="forwardButton">Forward</button>
                        <div class="range-panel mt-2">
                            <label for="bufferRange">Buffer Zoom:</label>
                            <div class="btn-group" role="group" aria-label="Buffer Zoom Buttons">
                                <button type="button" class="btn btn-secondary" id="zoomInButton">
                                    <i class="fas fa-search-plus"></i> <!-- Font Awesome icon for zoom in -->
                                </button>
                                <button type="button" class="btn btn-secondary" id="zoomOutButton">
                                    <i class="fas fa-search-minus"></i> <!-- Font Awesome icon for zoom out -->
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <!-- Dashboard Section -->
            <div class="col-md-6">
                <h2 class="accent-color">Dashboard</h2>
                <div class="form-group">
                    <label for="leftColorPicker" class="accent-color">Left Waveform Color:</label>
                    <input type="color" class="form-control" id="leftColorPicker" value="#0000FF">
                </div>
                <div class="form-group">
                    <label for="leftOpacitySlider" class="accent-color">Left Waveform Opacity:</label>
                    <input type="range" class="form-control-range" id="leftOpacitySlider" min="0" max="1" step="0.01" value="0.5">
                </div>
                <div class="form-group">
                    <label for="rightColorPicker" class="accent-color">Right Waveform Color:</label>
                    <input type="color" class="form-control" id="rightColorPicker" value="#FF0000">
                </div>
                <div class="form-group">
                    <label for="rightOpacitySlider" class="accent-color">Right Waveform Opacity:</label>
                    <input type="range" class="form-control-range" id="rightOpacitySlider" min="0" max="1" step="0.01" value="0.5">
                </div>
            </div>
        </div>
    </div>

    <!-- Waveform Canvas Section -->
    <div class="container mt-3">
        <div class="row">
            <h2 class="accent-color">Waveform Canvas</h2>
        </div>
        <div class="row">
            <div class="col-md-12" id="canvasDiv">
                <canvas id="waveformCanvas" width="2018" height="450"></canvas>
            </div>
        </div>
    </div>
</body>
</html>